### Scrape and clean wikipedia for lists of tennis champions

In [10]:
import pandas as pd

In [86]:
# read html as data. grab table nr 5 to use names of players
# Male players first, further down also Female players
# lastly, make csv-file and save in data assets folder

url = "https://en.wikipedia.org/wiki/List_of_ATP_number_1_ranked_singles_tennis_players"
df_male_player = pd.read_html(url)[5]

In [63]:
print(len(df_male_player))

55

In [70]:
df_male_player

,0,1,2
0,By year[edit] Year Player Ref. 1973 Ilie Năst...,By year (continued)[edit] Year Player 2000 Gu...,NaN
1,Year,Player,Ref.
2,1973,Ilie Năstase (ROU),[35]
3,1974,Jimmy Connors (USA),[36][37]
4,1975*,Jimmy Connors (2),[36][37]
5,1976*,Jimmy Connors (3),[36][37]
6,1977,Jimmy Connors (4),[38]
7,1978*,Jimmy Connors (5),[38]
8,1979,Björn Borg (SWE),[38]
9,1980,Björn Borg (2),[38]
10,1981,John McEnroe (USA),[38][39]
11,1982,John McEnroe (2),[38][39]
12,1983,John McEnroe (3),[38][39]
13,1984,John McEnroe (4),[38][39]
14,1985,Ivan Lendl (TCH),[38][40]
15,1986*,Ivan Lendl (2),[40]
16,1987*,Ivan Lendl (3),[40]
17,1988,Mats Wilander (SWE),[39]
18,1989,Ivan Lendl (4),[39]
19,1990,Stefan Edberg (SWE),[41]
20,1991,Stefan Edberg (2),[41][42]
21,1992,Jim Courier (USA),[43]
22,1993,Pete Sampras (USA),[44]
23,1994*,Pete Sampras (2),[45]
24,1995,Pete Sampras (3),[44]
25,1996,Pete Sampras (4),[44]
26,1997*,Pete Sampras (5),[45]
27,1998,Pete Sampras (6),[44]
28,1999,Andre Agassi (USA),[46]
29,Year,Player,NaN
30,2000,Gustavo Kuerten (BRA),[42][47]
31,2001,Lleyton Hewitt (AUS),[48]
32,2002*,Lleyton Hewitt (2),[49]
33,2003,Andy Roddick (USA),[50]
34,2004,Roger Federer (SUI),[51]
35,2005*,Roger Federer (2),[52]
36,2006*,Roger Federer (3),[53]
37,2007*,Roger Federer (4),[54][55]
38,2008,Rafael Nadal (ESP),[56]
39,2009,Roger Federer (5),[57]
40,2010,Rafael Nadal (2),[58][59]
41,2011,Novak Djokovic (SRB),[60]
42,2012,Novak Djokovic (2),[61]
43,2013,Rafael Nadal (3),[62]
44,2014,Novak Djokovic (3),[63]
45,2015*,Novak Djokovic (4),[64][65]
46,2016,Andy Murray (GBR),[66]
47,2017,Rafael Nadal (4),[67]
48,2018,Novak Djokovic (5),[68]
49,2019,Rafael Nadal (5),[69]
50,2020,Novak Djokovic (6)[b],[70]
51,2021*,Novak Djokovic (7),[71][16]
52,2022,Carlos Alcaraz (ESP),[20]
53,2023,Novak Djokovic (8),[72]
54,2024,Jannik Sinner (ITA),[73][74]

In [77]:
male_names = df_male_player.iloc[1:, 1].dropna().tolist()
print(df_male_player.iloc[:, 1].head(10))

0    By year (continued)[edit] Year Player 2000  Gu...
1                                               Player
2                                   Ilie Năstase (ROU)
3                                  Jimmy Connors (USA)
4                                    Jimmy Connors (2)
5                                    Jimmy Connors (3)
6                                    Jimmy Connors (4)
7                                    Jimmy Connors (5)
8                                     Björn Borg (SWE)
9                                       Björn Borg (2)
Name: 1, dtype: object

In [79]:
sliced_male_player = df_male_player.iloc[1:, 1]
print(sliced_male_player)

1                    Player
2        Ilie Năstase (ROU)
3       Jimmy Connors (USA)
4         Jimmy Connors (2)
5         Jimmy Connors (3)
6         Jimmy Connors (4)
7         Jimmy Connors (5)
8          Björn Borg (SWE)
9            Björn Borg (2)
10       John McEnroe (USA)
11         John McEnroe (2)
12         John McEnroe (3)
13         John McEnroe (4)
14         Ivan Lendl (TCH)
15           Ivan Lendl (2)
16           Ivan Lendl (3)
17      Mats Wilander (SWE)
18           Ivan Lendl (4)
19      Stefan Edberg (SWE)
20        Stefan Edberg (2)
21        Jim Courier (USA)
22       Pete Sampras (USA)
23         Pete Sampras (2)
24         Pete Sampras (3)
25         Pete Sampras (4)
26         Pete Sampras (5)
27         Pete Sampras (6)
28       Andre Agassi (USA)
29                   Player
30    Gustavo Kuerten (BRA)
31     Lleyton Hewitt (AUS)
32       Lleyton Hewitt (2)
33       Andy Roddick (USA)
34      Roger Federer (SUI)
35        Roger Federer (2)
36        Roger Federer (3)
37        Roger Federer (4)
38       Rafael Nadal (ESP)
39        Roger Federer (5)
40         Rafael Nadal (2)
41     Novak Djokovic (SRB)
42       Novak Djokovic (2)
43         Rafael Nadal (3)
44       Novak Djokovic (3)
45       Novak Djokovic (4)
46        Andy Murray (GBR)
47         Rafael Nadal (4)
48       Novak Djokovic (5)
49         Rafael Nadal (5)
50    Novak Djokovic (6)[b]
51       Novak Djokovic (7)
52     Carlos Alcaraz (ESP)
53       Novak Djokovic (8)
54      Jannik Sinner (ITA)
Name: 1, dtype: object

In [84]:
import re
raw_male_names = df_male_player.iloc[1:, 1].tolist()

male_names = []
for name in raw_male_names:
    name = re.sub(r"\s*\(.*?\)|\[.*?\]", "", name)
    name = name.replace("\xa0", " ").strip()
    if name and name not in male_names:
        male_names.append(name)

print(male_names[:10])

['Player', 'Ilie Năstase', 'Jimmy Connors', 'Björn Borg', 'John McEnroe', 'Ivan Lendl', 'Mats Wilander', 'Stefan Edberg', 'Jim Courier', 'Pete Sampras']

In [85]:
pd.Series(male_names).to_csv("data/male_players.csv", index = False)

In [97]:
url = "https://en.wikipedia.org/wiki/List_of_WTA_number_1_ranked_singles_tennis_players"
df_female_player = pd.read_html(url)[5]

In [98]:
df_female_player

,0,1
0,By year[edit] Year Player 1975 Chris Evert (U...,By year (continued)[edit] Year Player 2000 Ma...
1,Year,Player
2,1975,Chris Evert (USA)
3,1976,Chris Evert (2)
4,1977*,Chris Evert (3)
5,1978,Martina Navratilova (USA)
6,1979,Martina Navratilova (2)
7,1980,Chris Evert (4)
8,1981*,Chris Evert (5)
9,1982,Martina Navratilova (3)
10,1983*,Martina Navratilova (4)
11,1984*,Martina Navratilova (5)
12,1985,Martina Navratilova (6)
13,1986*,Martina Navratilova (7)
14,1987,Steffi Graf (FRG)
15,1988*,Steffi Graf (2)
16,1989*,Steffi Graf (3)
17,1990*,Steffi Graf (4)
18,1991,Monica Seles (YUG)
19,1992*,Monica Seles (2)
20,1993,Steffi Graf (5)
21,1994*,Steffi Graf (6)
22,1995,Steffi Graf (7) Monica Seles (3)
23,1996*,Steffi Graf (8)
24,1997,Martina Hingis (SUI)
25,1998,Lindsay Davenport (USA)
26,1999,Martina Hingis (2)
27,Year,Player
28,2000,Martina Hingis (3)
29,2001,Lindsay Davenport (2)
30,2002,Serena Williams (USA)
31,2003,Justine Henin (BEL)
32,2004,Lindsay Davenport (3)
33,2005,Lindsay Davenport (4)
34,2006,Justine Henin (2)
35,2007,Justine Henin (3)
36,2008,Jelena Janković (SRB)
37,2009,Serena Williams (2)
38,2010,Caroline Wozniacki (DEN)
39,2011,Caroline Wozniacki (2)
40,2012,Victoria Azarenka (BLR)
41,2013,Serena Williams (3)
42,2014*,Serena Williams (4)
43,2015*,Serena Williams (5)
44,2016,Angelique Kerber (GER)
45,2017,Simona Halep (ROU)
46,2018,Simona Halep (2)
47,2019,Ashleigh Barty (AUS)
48,2020*,Ashleigh Barty (2)
49,2021*,Ashleigh Barty (3)
50,2022,Iga Świątek (POL)
51,2023,Iga Świątek (2)
52,2024,[a] Aryna Sabalenka

In [99]:
female_names = df_female_player.iloc[1:, 1].dropna().tolist()
print(df_female_player.iloc[:, 1].head(10))

0    By year (continued)[edit] Year Player 2000  Ma...
1                                               Player
2                                    Chris Evert (USA)
3                                      Chris Evert (2)
4                                      Chris Evert (3)
5                            Martina Navratilova (USA)
6                              Martina Navratilova (2)
7                                      Chris Evert (4)
8                                      Chris Evert (5)
9                              Martina Navratilova (3)
Name: 1, dtype: object

In [100]:
sliced_female_player = df_female_player.iloc[1:, 1]
print(sliced_female_player)

1                               Player
2                    Chris Evert (USA)
3                      Chris Evert (2)
4                      Chris Evert (3)
5            Martina Navratilova (USA)
6              Martina Navratilova (2)
7                      Chris Evert (4)
8                      Chris Evert (5)
9              Martina Navratilova (3)
10             Martina Navratilova (4)
11             Martina Navratilova (5)
12             Martina Navratilova (6)
13             Martina Navratilova (7)
14                   Steffi Graf (FRG)
15                     Steffi Graf (2)
16                     Steffi Graf (3)
17                     Steffi Graf (4)
18                  Monica Seles (YUG)
19                    Monica Seles (2)
20                     Steffi Graf (5)
21                     Steffi Graf (6)
22    Steffi Graf (7) Monica Seles (3)
23                     Steffi Graf (8)
24                Martina Hingis (SUI)
25             Lindsay Davenport (USA)
26                  Martina Hingis (2)
27                              Player
28                  Martina Hingis (3)
29               Lindsay Davenport (2)
30               Serena Williams (USA)
31                 Justine Henin (BEL)
32               Lindsay Davenport (3)
33               Lindsay Davenport (4)
34                   Justine Henin (2)
35                   Justine Henin (3)
36               Jelena Janković (SRB)
37                 Serena Williams (2)
38            Caroline Wozniacki (DEN)
39              Caroline Wozniacki (2)
40             Victoria Azarenka (BLR)
41                 Serena Williams (3)
42                 Serena Williams (4)
43                 Serena Williams (5)
44              Angelique Kerber (GER)
45                  Simona Halep (ROU)
46                    Simona Halep (2)
47                Ashleigh Barty (AUS)
48                  Ashleigh Barty (2)
49                  Ashleigh Barty (3)
50                   Iga Świątek (POL)
51                     Iga Świątek (2)
52                 [a] Aryna Sabalenka
Name: 1, dtype: object

In [101]:
raw_female_names = df_female_player.iloc[1:, 1].tolist()

female_names = []
for name in raw_female_names:
    name = re.sub(r"\s*\(.*?\)|\[.*?\]", "", name)
    name = name.replace("\xa0", " ").strip()
    if name and name not in female_names:
        female_names.append(name)

print(female_names[:10])

['Player', 'Chris Evert', 'Martina Navratilova', 'Steffi Graf', 'Monica Seles', 'Steffi Graf Monica Seles', 'Martina Hingis', 'Lindsay Davenport', 'Serena Williams', 'Justine Henin']

In [102]:
pd.Series(female_names).to_csv("data/female_players.csv", index = False)